.footer{
    padding: 25px;
    padding-left: 50px;
    background-color: rgb(58, 58, 58);
    font-size: small;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: medium;
    
}

.arrow{
    font-size: 30px;
}