.profile-container.not-logged{
    color: white;
    height: 700px;
}

.profile-container.not-logged button{
    background-color: white;
    height: 10%;
    width: 30%;
}

.profile-container.not-logged button:hover{
    background-color: rgb(179, 52, 52);
    color: white;
}

.profile-container.not-logged button:active{
    background-color: rgb(68, 20, 20);
    color: white;
}

.not-logged-container{
    padding-top: 200px;
}

.profile-container{
    color: white;
    overflow: hidden;
}

.logged-container{
    padding-top: 40px;
}

.dances-title{
    padding-top: 30px;
}

.no-dances-message{
    height: 600px;
}

.no-dances-message p{
    padding-top: 100px;
}

.no-dances-message a {
    color: rgb(217, 70, 70);
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.no-dances-message a:hover{
    color: rgb(217, 70, 70);
}

.no-dances-message a::before,
.no-dances-message a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

.no-dances-message a::before {
    background-color: rgb(217, 70, 70);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.no-dances-message a::after {
    content: attr(data-replace);
    height: 100%;
    /* top: 0; */
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: rgb(217, 70, 70);
}

.no-dances-message a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.no-dances-message a:hover::after {
    transform: translate3d(0, 0, 0);
}